<section class="phx-hero">
  <h1><%= "Memory Championships of the world" %></h1>
</section>

<section class="row">
  <article class="column">
    <ul>
      <%= for collection_type <- ["championships", "trials", "contenders"] do %>
        <li>
          <a href={collection_type}>See all <%= collection_type %></a>
        </li>
      <% end %>
    </ul>
  </article>
</section>
